

/* Desktop */

.col12{
	width:100%;
}
.col11{
	width:91.6666666667%;
}
.col10{
	width:83.3333333333%;
}
.col9{
	width:75%;
}
.col8{
	width:66.666666666%;
}
.col7{
	width:58.33333333%;
}
.col6{
	width:50%;
}
.col5{
	width:41.66666666%
}
.col4{
	width:33.3333333%
}
.col3{
	width:25%
}
.col2{
	width:16.666666%
}
.col1{
	width:8.333333333%
}


/* Tablet 1*/

@media (max-width:900px){
	.col12_t{
		width:100%;
	}
	.col11_t{
		width:91.6666666667%;
	}
	.col10_t{
		width:83.3333333333%;
	}
	.col9_t{
		width:75%;
	}
	.col8_t{
		width:66.666666666%;
	}
	.col7_t{
		width:58.33333333%;
	}
	.col6_t{
		width:50%;
	}
	.col5_t{
		width:41.66666666%
	}
	.col4_t{
		width:33.3333333%
	}
	.col3_t{
		width:25%
	}
	.col2_t{
		width:16.666666%
	}
	.col1_t{
		width:8.333333333%
	}
}


/* Tablet 2 */

@media (max-width:680px){
	.col12_t2{
		width:100%;
	}
	
	.col11_t2{
		width:91.6666666667%;
	}
	
	.col6_t2{
		width:50%
	}
	
	.col5_t2{
		width:41.66666666%
	}
	
	.col4_t2{
		width:33.3333333%
	}

}


/* Mobile */

@media (max-width:540px){

	.col12_m{
	width:100%;
	}
	.col11_m{
		width:91.6666666667%;
	}
	.col10_m{
		width:83.3333333333%;
	}
	.col9_m{
		width:75%;
	}
	.col8_m{
		width:66.666666666%;
	}
	.col7_m{
		width:58.33333333%;
	}
	.col6_m{
		width:50%;
	}
	.col5_m{
		width:41.66666666%
	}
	.col4_m{
		width:33.3333333%
	}
	.col3_m{
		width:25%
	}
	.col2_m{
		width:16.666666%
	}
	.col1_m{
		width:8.333333333%
	}

}